
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #2D2520;
 background: url('decor.webp') no-repeat center center/cover; 
}


.white-navbar {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
    padding: 15px 0;
    position: fixed; 
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: #0c2d48;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

.nav-item:hover {
    color: #0070bb;
}

.nav-item.active {
    color: #b22222;
    border-bottom: 3px solid #b22222;
}

.main-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.section-title { text-align: center; letter-spacing: 3px; }
.sub-title { margin-top: 40px; font-weight: 300; }
.divider { border: 0; height: 1px; background: #ccc; margin: 30px 0; }

.physician-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.nurse-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.card {
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
    transform: translateY(-15px); 
}


.info-box {
    background-color: #2D2520;
    color: white;
    padding: 20px;
    border-radius: 20px; 
    flex-grow: 1;
    transition:background 0.3s ease;
}
.card:hover .info-box {
    background-color: #4a3b34; 
    box-shadow: 0 15px 30px rgba(0,0,0,0.4); 
}


.img-box {
    overflow: hidden;
    border-radius: 20px;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.doc-card {
    flex-direction: column;
    text-align: center;
}
.doc-card .img-box {
    height: 250px;
    margin-bottom: 15px;
}


.nurse-card {
    flex-direction: row;
    align-items: center;
}
.nurse-card .img-box {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    flex-shrink: 0;
}

.scrolling-footer {
    background-color: #1a1512; 
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
     color: white;
    left: 0;
    width: 100%; 
    padding: 15px 0;
    overflow: hidden; 
}
.scrolling-text {
    background: #2D2520;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 50px;
}
.marquee {
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    color: white;
    font-weight: bold;
}
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}